body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-1 {
    display: flex;
    flex-direction: column;
    /* background-color: #1F2937; */
    border: 3px solid black; /* temporary border */
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 500px;
}

.section-1-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.section-1-content {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.right-section-1 {
    border: 4px dotted blueviolet;
}

.lockup-image {
    width: 400px;
    height: auto;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
    margin: 50px;
}

.card-container {
    display: flex;
    gap: 125px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;
    text-align: center;
}

.card-box {
    width: 150px;
    height: 150px;
    border: 2px solid red;
}

.section-3 {
    display: flex;
}

.section-4 {
    display: flex;
}